#sangdan {
  display: flex;
  justify-content: center;
}

/* /* body {
  background-color: red;
} */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 출처: https://web-atelier.tistory.com/16 [웹아틀리에 - Web atelier] */
